In [1]:
from scipy.io import arff
import pandas as pd
import numpy as np

In [2]:
data = arff.loadarff(r'podaci\dataset_189_baseball.arff')
df = pd.DataFrame(data[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           1340 non-null   object
 1   Number_seasons   1340 non-null   float64
 2   Games_played     1340 non-null   float64
 3   At_bats          1340 non-null   float64
 4   Runs             1340 non-null   float64
 5   Hits             1340 non-null   float64
 6   Doubles          1340 non-null   float64
 7   Triples          1340 non-null   float64
 8   Home_runs        1340 non-null   float64
 9   RBIs             1340 non-null   float64
 10  Walks            1340 non-null   float64
 11  Strikeouts       1320 non-null   float64
 12  Batting_average  1340 non-null   float64
 13  On_base_pct      1340 non-null   float64
 14  Slugging_pct     1340 non-null   float64
 15  Fielding_ave     1340 non-null   float64
 16  Position         1340 non-null   object
 17  Hall_of_Fame     1340 non-null   object
dtypes: float64(15), object(3)
memory usage: 188.6+ KB

In [3]:
df.describe()

,Number_seasons,Games_played,At_bats,Runs,Hits,Doubles,Triples,Home_runs,RBIs,Walks,Strikeouts,Batting_average,On_base_pct,Slugging_pct,Fielding_ave
count,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1340.000000,1320.000000,1340.000000,1340.000000,1340.000000,1340.000000
mean,13.485821,1331.263433,4534.612687,635.313433,1248.567164,203.225373,50.811940,85.109701,565.744776,445.584328,445.685606,0.268774,0.336064,0.385355,0.966370
std,3.136279,519.165125,2094.191124,376.400804,647.664709,116.576053,41.038358,97.930043,357.163666,295.214016,325.319204,0.026179,0.033701,0.060565,0.025193
min,10.000000,140.000000,252.000000,20.000000,48.000000,6.000000,0.000000,0.000000,21.000000,17.000000,0.000000,0.161000,0.194000,0.201000,0.820000
25%,11.000000,958.750000,2979.500000,355.000000,766.500000,116.000000,22.000000,22.000000,307.750000,232.000000,218.000000,0.252000,0.315000,0.343000,0.957000
50%,13.000000,1282.500000,4302.000000,575.000000,1168.000000,184.500000,40.000000,51.000000,486.000000,380.000000,365.500000,0.267000,0.335000,0.380000,0.973000
75%,15.000000,1651.500000,5815.250000,843.250000,1613.000000,264.000000,69.000000,108.000000,735.250000,576.000000,593.000000,0.285000,0.357250,0.424000,0.983000
max,26.000000,3562.000000,14053.000000,2246.000000,4256.000000,792.000000,309.000000,755.000000,2297.000000,2056.000000,2597.000000,0.366000,0.483000,0.690000,1.000000

In [4]:
df

,Player,Number_seasons,Games_played,At_bats,Runs,Hits,Doubles,Triples,Home_runs,RBIs,Walks,Strikeouts,Batting_average,On_base_pct,Slugging_pct,Fielding_ave,Position,Hall_of_Fame
0,b'HANK_AARON',23.0,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383.0,0.305,0.377,0.555,0.980,b'Outfield',b'1'
1,b'JERRY_ADAIR',13.0,1165.0,4019.0,378.0,1022.0,163.0,19.0,57.0,366.0,208.0,499.0,0.254,0.294,0.347,0.985,b'Second_base',b'0'
2,b'SPARKY_ADAMS',13.0,1424.0,5557.0,844.0,1588.0,249.0,48.0,9.0,394.0,453.0,223.0,0.286,0.343,0.353,0.974,b'Second_base',b'0'
3,b'BOBBY_ADAMS',14.0,1281.0,4019.0,591.0,1082.0,188.0,49.0,37.0,303.0,414.0,447.0,0.269,0.340,0.368,0.955,b'Third_base',b'0'
4,b'JOE_ADCOCK',17.0,1959.0,6606.0,823.0,1832.0,295.0,35.0,336.0,1122.0,594.0,1059.0,0.277,0.339,0.485,0.994,b'First_base',b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,b'GUS_ZERNIAL',11.0,1234.0,4131.0,572.0,1093.0,159.0,22.0,237.0,776.0,383.0,755.0,0.265,0.331,0.486,0.968,b'Outfield',b'0'
1336,b'CHIEF_ZIMMER',19.0,1280.0,4546.0,617.0,1224.0,222.0,76.0,26.0,620.0,390.0,323.0,0.269,0.339,0.369,0.952,b'Catcher',b'0'
1337,b'DON_ZIMMER',12.0,1095.0,3283.0,353.0,773.0,130.0,22.0,91.0,352.0,246.0,678.0,0.235,0.291,0.372,0.941,b'Third_base',b'0'
1338,b'HEINIE_ZIMMERMAN',13.0,1456.0,5304.0,695.0,1566.0,275.0,105.0,58.0,796.0,242.0,404.0,0.295,0.331,0.419,0.928,b'Third_base',b'0'
1339,b'RICHIE_ZISK',13.0,1453.0,5144.0,681.0,1477.0,245.0,26.0,207.0,792.0,533.0,910.0,0.287,0.355,0.466,0.981,b'Outfield',b'0'

In [5]:
df['Hall_of_Fame'].unique()

array([b'1', b'0', b'2'], dtype=object)

In [6]:
df['Position'].unique()

array([b'Outfield', b'Second_base', b'Third_base', b'First_base',
       b'Shortstop', b'Catcher', b'Designated_hitter'], dtype=object)

## Kolonu 'Player' treba ignorisati prilikom kreiranja modela

In [7]:
df = df.drop('Player', axis=1)

In [8]:
df

,Number_seasons,Games_played,At_bats,Runs,Hits,Doubles,Triples,Home_runs,RBIs,Walks,Strikeouts,Batting_average,On_base_pct,Slugging_pct,Fielding_ave,Position,Hall_of_Fame
0,23.0,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383.0,0.305,0.377,0.555,0.980,b'Outfield',b'1'
1,13.0,1165.0,4019.0,378.0,1022.0,163.0,19.0,57.0,366.0,208.0,499.0,0.254,0.294,0.347,0.985,b'Second_base',b'0'
2,13.0,1424.0,5557.0,844.0,1588.0,249.0,48.0,9.0,394.0,453.0,223.0,0.286,0.343,0.353,0.974,b'Second_base',b'0'
3,14.0,1281.0,4019.0,591.0,1082.0,188.0,49.0,37.0,303.0,414.0,447.0,0.269,0.340,0.368,0.955,b'Third_base',b'0'
4,17.0,1959.0,6606.0,823.0,1832.0,295.0,35.0,336.0,1122.0,594.0,1059.0,0.277,0.339,0.485,0.994,b'First_base',b'0'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,11.0,1234.0,4131.0,572.0,1093.0,159.0,22.0,237.0,776.0,383.0,755.0,0.265,0.331,0.486,0.968,b'Outfield',b'0'
1336,19.0,1280.0,4546.0,617.0,1224.0,222.0,76.0,26.0,620.0,390.0,323.0,0.269,0.339,0.369,0.952,b'Catcher',b'0'
1337,12.0,1095.0,3283.0,353.0,773.0,130.0,22.0,91.0,352.0,246.0,678.0,0.235,0.291,0.372,0.941,b'Third_base',b'0'
1338,13.0,1456.0,5304.0,695.0,1566.0,275.0,105.0,58.0,796.0,242.0,404.0,0.295,0.331,0.419,0.928,b'Third_base',b'0'
1339,13.0,1453.0,5144.0,681.0,1477.0,245.0,26.0,207.0,792.0,533.0,910.0,0.287,0.355,0.466,0.981,b'Outfield',b'0'

In [9]:
df['Hall_of_Fame'] = df['Hall_of_Fame'].map(lambda x: x.decode('utf-8'))
df['Position'] = df['Position'].map(lambda x: x.decode())

In [10]:
df

,Number_seasons,Games_played,At_bats,Runs,Hits,Doubles,Triples,Home_runs,RBIs,Walks,Strikeouts,Batting_average,On_base_pct,Slugging_pct,Fielding_ave,Position,Hall_of_Fame
0,23.0,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383.0,0.305,0.377,0.555,0.980,Outfield,1
1,13.0,1165.0,4019.0,378.0,1022.0,163.0,19.0,57.0,366.0,208.0,499.0,0.254,0.294,0.347,0.985,Second_base,0
2,13.0,1424.0,5557.0,844.0,1588.0,249.0,48.0,9.0,394.0,453.0,223.0,0.286,0.343,0.353,0.974,Second_base,0
3,14.0,1281.0,4019.0,591.0,1082.0,188.0,49.0,37.0,303.0,414.0,447.0,0.269,0.340,0.368,0.955,Third_base,0
4,17.0,1959.0,6606.0,823.0,1832.0,295.0,35.0,336.0,1122.0,594.0,1059.0,0.277,0.339,0.485,0.994,First_base,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,11.0,1234.0,4131.0,572.0,1093.0,159.0,22.0,237.0,776.0,383.0,755.0,0.265,0.331,0.486,0.968,Outfield,0
1336,19.0,1280.0,4546.0,617.0,1224.0,222.0,76.0,26.0,620.0,390.0,323.0,0.269,0.339,0.369,0.952,Catcher,0
1337,12.0,1095.0,3283.0,353.0,773.0,130.0,22.0,91.0,352.0,246.0,678.0,0.235,0.291,0.372,0.941,Third_base,0
1338,13.0,1456.0,5304.0,695.0,1566.0,275.0,105.0,58.0,796.0,242.0,404.0,0.295,0.331,0.419,0.928,Third_base,0
1339,13.0,1453.0,5144.0,681.0,1477.0,245.0,26.0,207.0,792.0,533.0,910.0,0.287,0.355,0.466,0.981,Outfield,0

In [11]:
# df['Hall_of_Fame'] = df['Hall_of_Fame'].replace({'1':'A', '2':'B', '0':'C'})

In [14]:
df['Hall_of_Fame'].unique()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number_seasons   1340 non-null   float64
 1   Games_played     1340 non-null   float64
 2   At_bats          1340 non-null   float64
 3   Runs             1340 non-null   float64
 4   Hits             1340 non-null   float64
 5   Doubles          1340 non-null   float64
 6   Triples          1340 non-null   float64
 7   Home_runs        1340 non-null   float64
 8   RBIs             1340 non-null   float64
 9   Walks            1340 non-null   float64
 10  Strikeouts       1320 non-null   float64
 11  Batting_average  1340 non-null   float64
 12  On_base_pct      1340 non-null   float64
 13  Slugging_pct     1340 non-null   float64
 14  Fielding_ave     1340 non-null   float64
 15  Position         1340 non-null   object
 16  Hall_of_Fame     1340 non-null   object
dtypes: float64(15), object(2)
memory usage: 178.1+ KB

In [13]:
df.to_csv(r'podaci\baseball.csv', index=False)