In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r'podaci\baseballnn.csv')
df

,Number_seasons,Games_played,At_bats,Runs,Hits,Doubles,Triples,Home_runs,RBIs,Walks,Strikeouts,Batting_average,On_base_pct,Slugging_pct,Fielding_ave,Position,Hall_of_Fame
0,23.0,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297.0,1402.0,1383.0,0.305,0.377,0.555,0.980,Outfield,1
1,13.0,1165.0,4019.0,378.0,1022.0,163.0,19.0,57.0,366.0,208.0,499.0,0.254,0.294,0.347,0.985,Second_base,0
2,13.0,1424.0,5557.0,844.0,1588.0,249.0,48.0,9.0,394.0,453.0,223.0,0.286,0.343,0.353,0.974,Second_base,0
3,14.0,1281.0,4019.0,591.0,1082.0,188.0,49.0,37.0,303.0,414.0,447.0,0.269,0.340,0.368,0.955,Third_base,0
4,17.0,1959.0,6606.0,823.0,1832.0,295.0,35.0,336.0,1122.0,594.0,1059.0,0.277,0.339,0.485,0.994,First_base,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,11.0,1234.0,4131.0,572.0,1093.0,159.0,22.0,237.0,776.0,383.0,755.0,0.265,0.331,0.486,0.968,Outfield,0
1336,19.0,1280.0,4546.0,617.0,1224.0,222.0,76.0,26.0,620.0,390.0,323.0,0.269,0.339,0.369,0.952,Catcher,0
1337,12.0,1095.0,3283.0,353.0,773.0,130.0,22.0,91.0,352.0,246.0,678.0,0.235,0.291,0.372,0.941,Third_base,0
1338,13.0,1456.0,5304.0,695.0,1566.0,275.0,105.0,58.0,796.0,242.0,404.0,0.295,0.331,0.419,0.928,Third_base,0
1339,13.0,1453.0,5144.0,681.0,1477.0,245.0,26.0,207.0,792.0,533.0,910.0,0.287,0.355,0.466,0.981,Outfield,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number_seasons   1340 non-null   float64
 1   Games_played     1340 non-null   float64
 2   At_bats          1340 non-null   float64
 3   Runs             1340 non-null   float64
 4   Hits             1340 non-null   float64
 5   Doubles          1340 non-null   float64
 6   Triples          1340 non-null   float64
 7   Home_runs        1340 non-null   float64
 8   RBIs             1340 non-null   float64
 9   Walks            1340 non-null   float64
 10  Strikeouts       1340 non-null   float64
 11  Batting_average  1340 non-null   float64
 12  On_base_pct      1340 non-null   float64
 13  Slugging_pct     1340 non-null   float64
 14  Fielding_ave     1340 non-null   float64
 15  Position         1340 non-null   object
 16  Hall_of_Fame     1340 non-null   int64
dtypes: float64(15), int64(1), object(1)
memory usage: 178.1+ KB